/* Projects */
.projects {
  .container__inner {
    margin-bottom: -32px;
  }
}

.project {
  position: relative;
  margin-bottom: 32px;
}

.project__image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 280px;
  border-radius: 22px;
  user-select: none;
  transform: translate(0);
  overflow: hidden;
  background-color: var(--background-alt-color);
  transition: transform .3s ease;

  &:hover {
    transform: translateY(-6px);

    img {
      transform: translate3d(0px, 0px, 0px) scale3d(1.04, 1.04, 1);
    }

    .video-icon {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  &::after {
    content: "";
    display: table;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
    pointer-events: none;
    transition: transform .3s ease, opacity .3s ease;
  }

  @media (max-width: $tablet) {
    border-radius: 16px;

    img {
      border-radius: 16px;
    }
  }
}

.project__info {
  margin-top: 16px;

  .project__label {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--text-alt-color);
  }

  .project__title {
    display: inline-block;
    margin-bottom: 0;
    font-size: 24px;

    .project__link {
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 1.5px;
      text-underline-offset: 3px;
      color: var(--heading-font-color);
      transition: $global-transition;

      &:hover {
        text-decoration-color: var(--heading-font-color);
      }
    }
  }
}
.dive-deeper-box {
  border: 1px solid #d1d5da;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dive-deeper-box p {
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

.dive-deeper-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.dive-deeper-link:hover {
  text-decoration: none;
  background-color: #f6f8fa;
}

.dive-deeper-link i {
  font-size: 24px;
  width: 30px; /* Ensures icons align nicely with the text */
}

.dive-deeper-link.youtube {
  color: rgb(221, 12, 12);
}

.dive-deeper-link.youtube i {
  color: rgb(231, 23, 23);
}

.dive-deeper-link.github {
  color: #333;
}

.dive-deeper-link.github i {
  color: #333;
}
